<div class="book">
  <div class="details-book">
    <div class="container-book">
      <h2>{{book.title}}</h2>
      <img src="{{cover}}" alt="cover">
      {{#if link}}
      <a target="_blank" href="{{link}}">
        <p>link to wikipedia</p>
      </a>
      {{/if}}
      <p class="description">{{description}}</p>
    </div>
    <div class="container-book-info">
      <div class="places">
        {{#if subPlaces}}
        <h3>Subject places</h3>
        <p>
        {{#each subPlaces}}
        {{this}}
        {{/each}}
        </p>
      {{/if}}
    </div>
    <div class="people">
      {{#if subPeople}}
      <h3>Subject people</h3>
       <p>
      {{#each subPeople}}
      {{this}}
      {{/each}}
      </p>
      {{/if}}
    </div>
    <div class="authors">
      <h3>Authors</h3>
      <p>
      {{#each authors}}
      {{this.name}}
      {{/each}}
      </p>
    </div>
  </div>
</din>
</div>
{{>comments}}
